<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-fixioskeyboard"
    version="1.0.2">
    <name>Cordova Plugin Fix IOS Keyboard Slow load</name>
    <description>
      There is a small problem in iOS that causes a pretty significant delay between the first time the keyboard is requested and when it actually appears. It is only the first time, and seems to be related to the OS trying to cache various properties of the keyboard.
    </description>
    <license>MIT</license>
    <author>Arthur Breton</author>
    <keywords>IOS Keyboard Slow</keywords>
    <repo>https://github.com/deeeed/cordova-plugin-fixioskeyboard</repo>
    <issue>https://github.com/deeeed/cordova-plugin-fixioskeyboard/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FixIOSKeyboard">
                <param name="ios-package" value="FixIOSKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FixIOSKeyboard.h" />
        <source-file src="src/ios/FixIOSKeyboard.m" />
    </platform>
</plugin>
